<div class="scheduler-page">
  <%= render :partial => 'welcome/header' %>
  <div class="container">
    <%= react_component("Reminder", props: @scheduler_props, prerender: false) %>
  </div>
</div>
<%= render partial: "welcome/footer", locals: { position: 'footer-short'} %>
