<div class="feature-one" id="feature-1">
  <div class="feature-one-content row top-buffer">
    <div class="col-md-6">
      <span class="feature-one-image">
        <%= image_tag('macbook-with-charts.png', class: "img-responsive align-center text-center", alt: "charts example") %>
      </span>
    </div>
    <div class="col-md-6">
      <h3 class="text-center feature-title">Feature One Again</h3>
      <div class="mid-buffer"></div>
      <p class="text-center feature-content">
        Bring to the table win-win survival strategies to ensure proactive domination. <span class="hide-when-small">At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution</span>
      </p>
    </div>
  </div>

  <div class="arrow-down">
    <%= link_to root_path(anchor: "feature-2") do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
    <% end %>
  </div>
</div>
