<div class="feature-three" id="feature-3">
  <div class="feature-three-content">
    <div class="hide-when-small">
      <div class="row mid-buffer">
        <div class="col-md-12">
          <h3 class="text-center feature-title">Find us on the Web</h3>
          <p class="text-center feature-content">
            You can find us here:
          </p>
        </div>
      </div>
    </div>
    <div class="row mid-buffer">
      <div class="col-md-4">
        <%= image_tag('Facebook_Color.png', class: "img-responsive img-center", alt: "charts example") %>
        <h3 class="text-center feature-title">Like Us On Facebook</h3>
        <p class="text-center feature-content hide-when-small">
          Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag('Instagram_Color.png', class: "img-responsive img-center", alt: "charts example") %>
        <h3 class="text-center feature-title">Follow Us On Instagram</h3>
        <p class="text-center feature-content hide-when-small">
          Bring to the table win-win survival strategies to ensure proactive domination.
        </p>
      </div>

      <div class="col-md-4">
        <%= image_tag('Twitter_Color.png', class: "img-responsive img-center", alt: "charts example") %>
        <h3 class="text-center feature-title">Tweet Us On Twitter</h3>
        <p class="text-center feature-content hide-when-small">
          Leverage agile frameworks to provide a robust synopsis for high level overviews.
        </p>
      </div>
    </div>
  </div>
</div>
