<div class="feature-two" id="feature-2">
  <div class="feature-two-content row top-buffer">
    <div class="col-sm-6">
      <h3 class="text-center feature-title">Feature Two</h3>
      <p class="text-center feature-content">
        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
        Bring to the table win-win survival strategies to ensure proactive domination.
        At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
        User generated content in real-time will have multiple touchpoints for offshoring.
      </p>

    </div>
    <div class="col-sm-6">
      <span class="feature-two-image">
        <%= image_tag('iMac_with_chart.png', class: "img-responsive", alt: "charts example") %>
      </span>
    </div>
  </div>
  <div class="arrow-down">
    <%= link_to root_path(anchor: "feature-3") do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
    <% end %>
  </div>
</div>
