<div class="feature-two" id="feature-2">
  <div class="feature-two-content">
    <div class="col-md-6">
      <h3 class="text-center">Feature Two</h3>
      <p class="text-center">Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment</p>
      <div class="jumbotron">
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">Feature Two Again</h3>
      <p class="text-center">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution</p>
    </div>
  </div>
  <div class="arrow-down">
    <%= link_to root_path(anchor: "feature-3") do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
    <% end %>
  </div>
</div>
