<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand navigation-title" href="#">
    <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
  </a>
  <a class="navbar-brand navigation-title" href="#">Awanafy</a>
  <a class="navbar-brand navigation-title" href="#">Features</a>
  <% if user_signed_in? %>
    <a class="navbar-brand navigation-title pull-right" href="#">Hello, <%= current_user.email %></a>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
  <% else %>
    <a class="navbar-brand navigation-title pull-right" data-toggle="modal" data-target=".login-modal-sm" href="#">Login</a>
  <% end %>
  <a class="navbar-brand pull-right hamburger-menu" data-toggle="collapse" data-target="#main-sidebar-container" aria-controls="main-sidebar-container" aria-expanded="false" href="#">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </a>
</nav>

<!-- modal -->
<div class="modal fade login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="container">
        <form>
          <div class="form-group row">
            <div class="col-xs-3">
              <label for="formGroupExampleInput">Username</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example Username">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">
              <label for="formGroupExampleInput2">Password</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another Password">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->

<!-- sidebar -->
<div id="main-sidebar-container" class="collapse width pull-right">
  <div class="main-sidebar">
    <div class="row">
      <div class="col-xs-12">
        <a class="navbar-brand sidebar-texts" href="#">Awanafy</a>
        <a class="navbar-brand sidebar-texts" href="#">Features</a>
        <a class="navbar-brand sidebar-texts" data-toggle="modal" data-target=".login-modal-sm" href="#">Login</a>
      </div>
    </div>
  </div>
</div>
<!-- sidebar end -->
