<div class="row primary-content">
  <div class="col-md-12">
    <h1>Don't let the youngins wreak havoc</h1>
    <h4>Awanafy is the awesomest Sunday School class management solution!</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= image_tag('awanafy_sketch.png', class: 'awanafy-main-img img-responsive', alt: "awanafy sketch") %>
  </div>
</div>y
