<div class="primary-content">
  <div class="section-intro">
    <h1 class="section-header">Sunday School Analytics For K-12</h1>
    <p class="section-subheader">Sundae-app makes it easy to keep track of points and deliver them to parents</p>
    <div class="section-subscribe">
      <input class="input-subscribe" type="text" placeholder="Enter email here..." />
      <button class="button-subscribe">Subscribe</button>
    </div>
  </div>
  <div class="section-image">
    <%= image_tag('sundae_kids.png', class: "img-fluid", alt: "sundae_kids") %>
  </div>
  <div class="arrow-down">
    <%= link_to root_path(anchor: "feature-1") do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
    <% end %>
  </div>
</div>
<!--
<div class="row">
  <div class="col-md-12">
    <%= image_tag('awanafy_sketch.png', class: 'awanafy-main-img img-responsive', alt: "awanafy sketch") %>
  </div>
</div>
-->
