<div class="row secondary-content">
  <div class="col-md-3 col-sm-6 col-xs-12 col-centered">
    <div class="card" style="width: 200px;">
      <img class="card-img-top img-circle img-responsive" style="margin:0 auto;" src="http://placekitten.com/g/150/150" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title text-center">Card title 1</h4>
        <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 col-centered">
    <div class="card" style="width: 200px;">
      <div class="card-block">
        <h4 class="card-title text-center">Card title 2</h4>
        <p class="card-text text-justify">Omnichannel CPM call-to-action low hanging fruit branding. Inbound holistic tweens dynamic content branding granular. Mission critical lean content snackable content drone inbound. Leading the pack buzzword flat design click bait B2C conversions millennials. Alignment pass the clap content marketing multiple points of entry context.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 col-centered">
    <div class="card" style="width: 200px;">
      <img class="card-img-top img-circle img-responsive" style="margin:0 auto;" src="http://placekitten.com/g/150/150" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title text-center">Card title 3</h4>
        <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 col-centered">
    <div class="card" style="width: 200px;">
      <div class="card-block">
        <h4 class="card-title text-center">Card title 4</h4>
        <p class="card-text text-justify">Conversions buzzword trending brand voice B2C curated ideation. Branding user-friendly hashtag tablet click-through rate disrupt iterative. CRM alignment The Cloud visibility taste makers. CRM snackable content engagement millennials. Content marketing integrated big data. Tablet shoptimization intuitive top influencers reaching out.</p>
      </div>
    </div>
  </div>
</div>
