<%= image_tag('WoopsieScreen.png', class: 'woopsie-image img-responsive', alt: 'scorer icon') %>
<h1 class="text-center">Woops!</h1>
<h4 class="text-center">The page you are trying to visit does not exist yet</h4>
<h6 class="text-center">Why don't you enjoy a cup of coffee while we are developing this awesome page?</h6>
