<div class="drawer-page">
  <%= render :partial => 'welcome/header' %>
  <%= render :partial => 'welcome/woopsie' %>
</div>

<%= render partial: "welcome/footer", locals: { position: 'footer-short'} %>
