<div class="drawer-page">
  <%= render 'header' %>
  <div class="container">
    <%= link_to "Reminder", reminder_path%>
  </div>
  <%= render partial: "footer", locals: { position: 'footer-short'} %>
</div>
