<div class="scheduler-page">
  <div class="container">
    <%= render :partial => 'welcome/header' %>
    <%= react_component("App", props: @scheduler_props, prerender: false) %>
  </div>
</div>
<%= render :partial => 'welcome/footer' %>
