@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$bg1: "red";
$bg2: "yellow";
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;

  color: #58482C;
}

#main-sidebar-container {
  height: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 200px;
  background-color: #202020;
  transition: width 0.35s ease;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
  z-index: 1001;
}

#main-sidebar-container a {
  color: #ffffff;
}

.scheduler-page {
  background: #878787;
  height: 92vh;
}

.drawer-page {
  height: 92vh;
}

.scorer-page {
  //height: 92vh;
}
.footer-short {
  position: relative;
  width: 100%;
  height: 50px;
  bottom: 0px;
}

.footer-main {
  position: relative;
  width: 100%;
  height: 50px;
  bottom: 0px;

}
.navigation-title {
  text-transform: uppercase;
}

.sundae-nav-title {
  color: #FF9441;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
}

.color-white {
  color: #58482C;
  text-decoration: none;
}

.universal-header {
  border-radius: none;
  height: 10%;
  width: 100%;
  position: fixed;
}

.sundae-logo {
  height: auto;
  width: 75%;
  margin-top: 0;
  position: relative;
  top: -12px;
  left: 35px;
}

.primary-content {
    position: absolute;
    margin-top: 10%;      /* ADJUSTMENT */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 90%;          /* ADJUSTMENT */
    margin: 0;            /* NEW */
}

.section-intro {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 15%;
  left: 5%;
  padding: 1% 1% 1% 1%;
  letter-spacing: -1px;
}

.section-header {
  font-size: 48px;
  font-weight: 500;
}

.section-subheader {
  font-size: 24px;
  font-weight: 200;
}

.section-subscribe {
  position: absolute;
  width: 98%;
  height: 20%;
  bottom: 0;
  margin: 0;
}

.section-image {
  position: absolute;
  right: 15%;
  top: 0;
  height: auto;
  max-width: 100%;
}

input[type="text"] {
  width: 30%;
  margin-right: 3%;
  box-sizing: border-box;
  border: 3px solid #58482C;
  padding: 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 50%;
}

.button-subscribe {
  background-color: #FF9441;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  margin: 4px 2px;
  padding: 10px;
  width: 30%;
  font-size: 24px;
}

.arrow-down {
  position: absolute;
  width: 5%;
  height: 5%;
  bottom: 3%;
  left: 50%;
  font-size: 24px;
  text-decoration: none;
}



.main-sidebar {
  overflow:hidden;
  width:150px;
}

.awanafy-main-img {
  width: 65%;
  height: auto;
  margin: 0 auto;
}

.drawer-icons {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.woopsie-image {
  width: 75%;
  height: auto;
  margin: 0 auto;
}


.feature-one {
  position: relative;
  z-index: 0;
}

.feature-two {
  position: relative;
  z-index: 0;
}

.feature-three {
  position: relative;
  z-index: 0;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 35px;
  right: 35px;
  opacity: 0.75;
}
/* centers the columns below main image */
.card {
  margin: 0 auto;
}

.sidebar-texts {
  margin: 0 auto;
  font-size: 13px;
  text-transform: uppercase;
}

.vertical-line {
  border-left: 1px solid #D4D4D4;
}

.helper-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 57px;
  width: 57px;
  border-radius: 100%;
  background: #FFBE00;
  cursor: pointer;
}

.box-overall {
  position: fixed;
  right: 100px;
  bottom: 57px;
  width: 200px;
  height: 75px;
  border-radius: 10px;
  background: #f44336;
  overflow: scroll;
}

.box-header {
  position: relative;
  right: 0px;
  top: 0px;
  width: width;
  height: 35px;
  border-radius: 10px 10px 0% 0%;
  background: #FFBE00;
}
/* hides and display hamburger-menu */
/* small screen (mobile phone)*/
@media (min-width: 0px) and (max-width: 768px) {
  .navigation-title { display: none; }
  .hamburger-menu {display: block;}
}

@media (min-width: 769px) {
  .navigation-title { display: block; }
  .hamburger-menu {display: none;}
}
